body{ background-color: #660000;
	text-align:center;} 

a:link {color:#FFFFFF;}      /* unvisited link */
a:visited {color:#CC6600;}  /* visited link */
a:hover {color:#FFFF00;}  /* mouse over link */
a:active {color:#000000;}  /* selected link */

#wrapper {
  width: 900px;
  margin: 0 auto;
  text-align: center;
}

#imgviewer {
	position: relative;
}

h1 {color: gold;}