body{ background-color: maroon;} 

a:link {color:#FFFFFF;}      /* unvisited link */
a:visited {color:#000000;}  /* visited link */
a:hover {color:#FFFF00;}  /* mouse over link */
a:active {color:#000000;}  /* selected link */